name: Build and Deploy Next.js to Azure (Container)

on:
    push:
        branches: ["main"]

env:
    AZURE_WEBAPP_NAME: my-next-app-prod
    ACR_NAME: digolas
    IMAGE_NAME: nextjs-app
    NODE_VERSION: '20.x'

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Log in to Azure
              uses: azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Log in to ACR
              run: |
                  az acr login --name $ACR_NAME

            - name: Build Docker image
              run: |
                  docker build -t $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }} .

            - name: Push Docker image
              run: |
                  docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }}

            - name: Configure Web App to use new image
              run: |
                  az webapp config container set \
                    --name $AZURE_WEBAPP_NAME \
                    --resource-group <SEU_RESOURCE_GROUP> \
                    --docker-custom-image-name $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }} \
                    --docker-registry-server-url https://$ACR_NAME.azurecr.io
